.todo-container {
  width: 100%;
  height: 550px;
}

.todo-form {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input {
  height: 40px;
  width: 70%;
  font-size: 20px;
  border: 3px solid #00b0b9;
  padding-left: 10px;
}

.todo-input:focus {
  outline: none;
}

.todo-add-button {
  background: #00b0b9;
  border: none;
  height: 48px;
  width: 80px;
  cursor: pointer;
  color: white;
  border-radius: 0 30px 30px 0;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.25s;
}

.todo-add-button:hover {
  color: #112b2b;
}

.todo-list {
  height: 450px;
  width: 100%;
  margin-bottom: 30px;
  overflow: scroll;
  overflow-x: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b0b9;
  border-radius: 10px 0 0 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008086;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}

.todo-item {
  display: flex;
  flex-direction: row;
  margin: 0 20px 30px 30px;
}

.todo-text {
  display: flex;
  align-items: center;
  background: white;
  color: #112b2b;
  font-size: 20px;
  width: 80%;
  height: 60px;
}

.todo-drag {
  color: #112b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 60px;
  width: 10%;
  background: white;
  border-left: 3px solid #00b0b9;
}

.todo-check {
  color: #00b0b9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 0 30px 30px 0;
  width: 10%;
  background: white;
  transition: color 0.25s;
}

.todo-check:hover {
  color: #112b2b;
}
