* {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #112b2b;
  color: white;
  height: 650px;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: black 0px 5px 15px;
}

.app-title {
  border-bottom: 3px solid #00b0b9;
  margin-top: 20px;
}
